* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer, header {
    background: rgb(145, 146, 148);
    z-index: 10;
}
nav {
    padding: 20px 0;
}
nav li {
    color: rgb(228, 226, 226);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
    width: 100px;
}
header {
    text-align: center;
    position: fixed;
    width: 100%;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
body {
    background-color: rgb(223, 232, 245);
}
main {
    position: relative;
    top: 80px;
    margin-bottom: 200px;

}
article {
    padding: 20px;
    background: rgb(196, 216, 238);

    box-shadow:
        0 1px 1px rgba(0,0,0,0.15),
        0 10px 0 -5px rgb(193, 252, 206),
        0 10px 1px -4px rgba(0,0,0,0.15),
        0 20px 0 -10px rgb(253, 208, 251),
        0 20px 1px -9px rgba(0,0,0,0.15);
    margin: 5%;
    
}
.thumbnail {
    width: 60px;
    height: auto;
    border-radius: 50%;
}
table {
    border-collapse: collapse;
    background: rgb(196, 216, 238);
}
td, th {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: left;
}
